body {
  background-color: aqua;
}
.divPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#inputBuscar {
  padding: 4px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  text-align: center;
}
.Buscador:focus-visible {
  border: none;
  outline: none;
}

.selectRegion {
  padding: 4px;
  font-size: 16px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

/* barra de busqueda*/

/* boton de busacar */
#BtnBuscar {
  padding: 4px 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  cursor: pointer;
}

select,
::picker(select) {
  appearance: base-select;
  margin: 0.25rem 0;
  width: 375px;
}

select {
  text-align: center;
  align-items: center;
  font-family: "Victor Mono";
  font-size: 1rem;
  background: #222;
  color: #eee;
  border-radius: 0;
  border: 0;

  & .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #222;
  }

  & button {
    display: flex;
    align-items: center;
  }

  & svg {
    width: 32px;
    aspect-ratio: 1;
  }

  & selectedcontent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
  }

  & option {
    padding: 5px 10px;
    color: #fff;

    &:hover {
      background: indigo;
    }
  }

  &::picker-icon {
    display: flex;
    align-items: center;
  }
}
